<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action='/single_setup' method='post'>
  <label for="player">
    Enter your name:
  </label>
  <input type='text' name='player'>
  <input type='submit' name='Ready!' value='Ready!'>
</form>